/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { X402ApiCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import { X402APIBaseError } from "../models/errors/x402-api-base-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Submit a programmatic charge payment
 *
 * @remarks
 * Submit one exact canonical PAYMENT-SIGNATURE for a tenant charge. The request body is empty. HTTP 200 with confirmed=true means the payment is accepted and must not be resubmitted; finalized=true means the signed receipt is ready. Preserve and retry the identical signature after HTTP 202 or 503; never create a replacement authorization for an ambiguous outcome. Requires a tenant API key with the `commerce:write` scope.
 *
 * If set, this operation will use {@link Security.tenantApiKey} from the global security.
 */
export function chargesSubmitPayment(
  client: X402ApiCore,
  request: operations.ChargesSubmitPaymentRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.ChargesSubmitPaymentResponse,
    | errors.ApiErrorEnvelope
    | X402APIBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: X402ApiCore,
  request: operations.ChargesSubmitPaymentRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.ChargesSubmitPaymentResponse,
      | errors.ApiErrorEnvelope
      | X402APIBaseError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.ChargesSubmitPaymentRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    charge_id: encodeSimple("charge_id", payload.charge_id, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/v1/charges/{charge_id}/payments")(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
    "PAYMENT-SIGNATURE": encodeSimple(
      "PAYMENT-SIGNATURE",
      payload["PAYMENT-SIGNATURE"],
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.tenantApiKey);
  const securityInput = secConfig == null ? {} : { tenantApiKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "charges_submit_payment",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.tenantApiKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.ChargesSubmitPaymentResponse,
    | errors.ApiErrorEnvelope
    | X402APIBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json([200, 202], operations.ChargesSubmitPaymentResponse$inboundSchema, {
      hdrs: true,
      key: "DynamicChargePaymentResponse",
    }),
    M.jsonErr([400, 402, 404, 409], errors.ApiErrorEnvelope$inboundSchema, {
      hdrs: true,
    }),
    M.jsonErr(503, errors.ApiErrorEnvelope$inboundSchema, { hdrs: true }),
    M.fail("4XX"),
    M.fail("5XX"),
    M.json("default", operations.ChargesSubmitPaymentResponse$inboundSchema, {
      hdrs: true,
      key: "ApiErrorEnvelope",
    }),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
